@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


:root{
    --main-color:#8e44ad;
    --black:#222;
    --blue-ocean: #2323fc;
    --white:#fff;
    --light-black:#777;
    --light-white:#fff9;
    --dark-dg: rgba(0,0,0,.7);
    --light-bg:#eee;
    --border:.1rem solid var(--black);
    --border-top: .5rem solid var(--blue-ocean);
    --box-shadow:0 4rem 1rem rgba(0,0,0, .1);
    --text-shadow:0 1.5rem 3rem rgba(0,0,0,.3);
}

*{ 
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
}

 
html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width: 1rem;
}

html::-webkit-scrollbar-track{
    background-color: var(--white);
}

html::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
}

section{
    padding: 5rem 10%;
}

.heading-title{
    text-align: center;
    margin-bottom: 3rem;
    font-size: 6rem;
    text-transform: uppercase;
    color:var(--black);
}

.header{
    position: sticky;
    top: 0; left: 0; right: 0; 
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 1rem;
    padding-bottom: .2rem;
    /*box-shadow: var(--box-shadow);*/
    
    align-items: center;
    justify-content: space-between;
}

.headerLong{
    position: sticky;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    background-color: var(--white);
    display: flex;
    padding-top: 8rem;
    padding-bottom: 2rem;
    border-top: var(--border-top);
    box-shadow: var(--box-shadow);
    align-items: center;
    justify-content: space-between;
}

.header .logo{
    font-size: 2.5rem;
    color: var(--black);
}

.header .navbar a{
    font-size: 1.5rem;
    margin-left: 2rem;
    color: var(--black);
    font-weight: bold;
}

.headerLong .navbarLong a{
    font-size: 2rem;
    margin-left: 2rem;
    color: var(--black);
}

.headerLong .navbarLong{
    font-size: 1.5rem;
    margin-left: -2rem;
    color: var(--black);
}

.header .navbar a:hover{
    color: var(--main-color);
}

#menu-btn1{
    font-size:2.5rem;
    cursor:pointer;
    color: var(--black);
    display: none;
}

#menu-btn2{
    font-size:2.5rem;
    cursor:pointer;
    color: var(--black);
    display: none;
}

.home{
    padding: 0;
}

.home .slide{
    text-align: center;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    gap: 1.5rem;
    
}

.services .box-container .box{
    padding: 3rem 2rem;
    text-align: center;
    background: var(--main-color);
    cursor: pointer;
}

.services .box-container .box:hover{
    background: var(--black);
    
}

.services .box-container .box img{
    height: 10rem;
}

.services .box-container .box h3{
    color: var(--white);
    font-size: 1.7rem;
    padding-top: 1rem;
}


.footer{
    background: url("https://t4.ftcdn.net/jpg/05/00/76/75/360_F_500767502_AdezwSUsyb04l79RpV6zubKulRnIHpd0.jpg") no-repeat;
    /*background: #1f2e59;*/
    background-size: cover;
    background-position: center;
    /*background-attachment: fixed;*/
}


.footer .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap:3rem;
}

.footer .box-container .box h3{
    color: var(--white);
    font-size: 2rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color: var(--light-white);
    font-size: 2.5rem;
    padding-bottom: 2rem;
}

.footer .box-container .box a{
    color: var(--light-white);
    font-size: 2.5rem;
    padding-bottom: 1.5rem;
    display: block;
}

.footer .box-container .box a i{
    color: var(--main-color);
    padding-right: .5rem;
    transition: .2s linear;
}

.footer .box-container .box a:hover i{
    padding-right: 2rem;
}

.footer .credit{
    text-align: center;
    padding-top: 3rem;
    margin-top: 3rem;
    border-top: .1rem solid var(--light-white);
    font-size: 2rem;
    color: var(--white);
}


.footer .credit span{
    color: var(--main-color);
    
}

.heading{
    background: url(https://wallpaperaccess.com/full/1078215.jpg) no-repeat;
}

/* Media queries */

@media (max-width:1200px){
    section{
        padding: 3rem 5%;
    }
}

@media (max-width:991px){
    html{
        font-size: 55%;
    }

    section{
        padding: 3rem 3rem;
    }
}

@media (max-width:768px){

    #menu-btn1, #menu-btn1{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn2, #menu-btn2{
        display: inline-block;
        transition: .2s linear;
    }

    #menu-btn1 .fa-times{
        transform: rotate(180deg);
    }

    #menu-btn2 .fa-times{
        transform: rotate(180deg);
    }

    .header .navbar{
        position: absolute;
        top: 99%; left: 0; right:0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        
    }

    .headerLong .navbarLong{
        position: absolute;
        top: 99%; left: 0; right:0;
        background-color: var(--white);
        border-top: var(--border);
        padding: 2rem;
        transition: .2s linear;
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        
    }

    .header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .headerLong .navbarLong.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }

    .header .navbar a{
        display: block;
        margin: 2rem;
        text-align: center;
    }

    .headerLong .navbarLong a{
        display: block;
        margin: 2rem;
        text-align: center;
    }
    
}

@media (max-width:450px){
    html{
        font-size: 50%;
    }

    .heading-title{
        font-size: 3.5rem;
    }
}